.container {
  display: flex;
  font-family: "Tahoma", sans-serif;
  padding: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 3px 8px #dddddd;
  background-color: #fdfdfd;
}
.box {
  flex: 1;
  display: flex;
}
.hamburger {
  flex: 1;
  display: flex;
  div {
    display: none;
    @media screen and (max-width: 640px) {
      display: block;
    }
  }
}
.links {
  display: flex;
  @media screen and (max-width: 640px) {
    display: none;
  }
  margin-top: -2em;
  font-size: 1.1em;
  font-family: "Georgia", serif;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0.5em;
  div {
    margin-right: 0.7em;
  }
}
