bio.jsx
essays/2021-06-10-chalkface-nostalgia.jsx
about.jsx
CV.jsx
promotion.jsx
essays/2021-07-30-poorly-structured.jsx
essays/2021-07-02-one-for-all.jsx
essays/2021-06-24-quantity-over-quality.jsx
projects.jsx
essays/2021-07-16-quantifying-cs1.jsx
essays/2021-08-13-grade-uncertainty.jsx
essays/2022-10-28-evaluating-teaching-faculty-positions.jsx
essays/2022-04-17-eliminate-final-exams.jsx
essays/2023-08-02-how-i-built-this-site.jsx
essays/2022-11-18-evaluating-teaching-faculty-positions:-part-2.jsx
essays/2023-02-11-a-help-site-story.jsx
essays/2023-06-14-large-courses-should-be-better.jsx
essays/2022-12-27-evaluating-teaching-faculty-positions:-part-3.jsx
essays/2021-11-26-windows-line-ending.jsx
essays/2023-08-02-cs1-in-the-cloud.jsx
essays/2021-11-21-cs1-in-kotlin.jsx
essays/2022-06-17-the-need-for-jeed.jsx
essays/2021-07-09-creating-course-community.jsx
essays/2022-04-08-my-cs1-backend.jsx
essays/2021-06-03-recipe-programming.jsx
essays/2021-07-23-computerized-testing-for-cs1.jsx
essays/2021-06-17-why-i-don't-use-piazza.jsx