@use "sass:math";

$minFontSize: 16;
$maxFontSize: 24;
$minTextWidth: 480;
$maxTextWidth: math.div($minTextWidth, $minFontSize) * $maxFontSize;

.responsive {
  font-size: calc(
    #{$minFontSize}px + (max(min(100vw, #{$maxTextWidth}px), #{$minTextWidth}px) - #{$minTextWidth}px) /
      (#{$maxTextWidth - $minTextWidth}) * (#{$maxFontSize - $minFontSize})
  );
  h1,
  .h1 {
    font-size: 2em;
    margin-bottom: 0.4em;
  }
  h2 {
    font-size: 1.4em;
  }
}

body {
  margin: 0;
  padding: 0 16px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Georgia", serif;
  color: #555555;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  background-color: #fdfdfd;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", "serif";
  color: #444444;
}
p {
  margin-bottom: 1em;
  &.lead {
    font-size: 1.1em;
  }
}
#__next {
  max-width: #{$maxTextWidth}px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: inherit;
  }
  color: #222222;
  &.anchor {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
hr {
  display: block;
  height: 4px;
  border: 0;
  border-top: 4px solid #eeeeee;
}
div.pullquote {
  float: right;
  font-size: 1.2em;
  max-width: 40%;
  line-height: 1.1em;
  padding-left: 0.5em;
  border-left: 1px solid #444444;
  margin-left: 0.5em;
  margin-bottom: 0.2em;
  color: #666666;
}
span.firstword {
  float: left;
  padding-right: 4px;
  font-size: 3em;
  line-height: 1;
  margin-right: 4px;
}
span.restword {
  vertical-align: top;
  font-variant: small-caps;
  letter-spacing: 1.5px;
}
header {
  background-color: #fdfdfd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  z-index: 1000000;
}
.paddings {
  padding-top: calc(68px + 2em);
}
sup.footnote {
  span.inner:hover {
    text-decoration: underline;
  }
}
.tooltip-container {
  color: #555555 !important;
  font-size: 0.8em;
  max-width: 20em;
}
figure {
  margin-bottom: 1em;
}
figcaption {
  margin-top: 8px;
  color: #444444;
  font-size: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  text-decoration: none;
}
a.inverted-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
#sidebarcontent {
  height: 100vh;
  padding: 24px;
  padding-top: 96px;
  background-color: #fdfdfd;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h2 {
    font-weight: 400;
    font-size: 1.4em;
  }
}
