@use "sass:math";

$minFontSize: 16;
$maxFontSize: 24;
$minTextWidth: 480;
$maxTextWidth: math.div($minTextWidth, $minFontSize) * $maxFontSize;

.responsive {
  font-size: calc(
    #{$minFontSize}px + (max(min(100vw, #{$maxTextWidth}px), #{$minTextWidth}px) - #{$minTextWidth}px) /
      (#{$maxTextWidth - $minTextWidth}) * (#{$maxFontSize - $minFontSize})
  );
  h1,
  .h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    line-height: 1.1em;
  }
  h2 {
    font-size: 1.4em;
  }
}

body {
  margin: 0;
  padding: 0 16px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Georgia", serif;

  line-height: 1.5;
  text-rendering: optimizeLegibility;
  color: #555555;
  background-color: #fdfdfd;
  &.dark-mode {
    background-color: #333333;
    color: #cccccc;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", "serif";
  color: #555555;
  .dark-mode & {
    color: #dddddd;
  }
}
div.lead {
  p {
    font-size: 1.1em;
  }
}
p {
  margin-bottom: 1em;
}
#__next {
  max-width: #{$maxTextWidth}px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: inherit;
  }
  color: #444444;
  .dark-mode & {
    color: #dddddd;
  }
  &.anchor {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
h2 a {
  color: inherit;
}
h3 a {
  color: inherit;
}
hr {
  display: block;
  height: 4px;
  border: 0;
  border-top: 4px solid #eeeeee;
  .dark-mode & {
    border-top: 4px solid #888888;
  }
}
div.pullquote {
  float: right;
  font-size: 1.2em;
  max-width: 40%;
  line-height: 1.1em;
  padding-left: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.2em;
  color: #666666;
  border-left: 1px solid #444444;
  .dark-mode & {
    color: #cccccc;
    border-left: 1px solid #444444;
  }
}
span.firstword {
  float: left;
  padding-right: 4px;
  font-size: 3em;
  line-height: 1;
  margin-right: 4px;
}
span.restword {
  vertical-align: top;
  font-variant: small-caps;
  letter-spacing: 1.5px;
}
header {
  background-color: #fdfdfd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  z-index: 1000000;
}
.paddings {
  padding-top: calc(68px + 2em);
}
sup.footnote {
  vertical-align: top;
  font-size: 0.7em;
  span.inner:hover {
    text-decoration: underline;
  }
}
.tooltip-container {
  color: #555555 !important;
  background-color: #fefefe !important;
  .dark-mode & {
    background-color: #333333 !important;
    color: #cccccc !important;
  }
  font-size: 0.8em;
  max-width: 20em;
}
figure {
  margin-bottom: 1em;
}
figcaption {
  margin-top: 8px;
  color: #444444;
  font-size: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  text-decoration: none;
}
a.inverted-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
#sidebarcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  padding-top: 96px;
  background-color: #fdfdfd;
  .dark-mode & {
    background-color: #333333;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h2 {
    font-weight: 400;
    font-size: 1.4em;
  }
}
div.rounded-img {
  img:first-of-type {
    border-radius: 10%;
  }
}
footer {
  border-top: 1px solid #dddddd;
  padding-top: 1em;
  padding-bottom: 1.5em;
  margin-left: 6em;
  margin-right: 6em;
  font-size: 1em;
  div {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    a {
      padding-left: 0.5em;
      padding-right: 0.5em;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
div.publishedAt {
  float: right;
  line-height: 1.1em;
  font-size: 0.8em;
  text-align: right;
}
header {
  font-family: "Tahoma, sans-serif";
  .container {
    display: flex;
    font-family: "Tahoma", sans-serif;
    padding: 10px;
    padding-bottom: 10px;
    background-color: #fdfdfd;
    box-shadow: 0px 3px 8px #dddddd;
    .dark-mode & {
      background-color: #333333;
      box-shadow: 0px 3px 8px #222222;
    }
  }
  .box {
    flex: 1;
    display: flex;
  }
  .hamburger {
    flex: 1;
    display: flex;
    div {
      display: none;
      @media screen and (max-width: 640px) {
        display: block;
      }
    }
  }
  .links {
    display: flex;
    @media screen and (max-width: 640px) {
      display: none;
    }
    margin-top: -2em;
    font-size: 1.1em;
    font-family: "Georgia", serif;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 0.5em;
    div {
      margin-right: 0.7em;
    }
  }
}
