@use "sass:math";

$minFontSize: 16;
$maxFontSize: 24;
$minTextWidth: 480;
$maxTextWidth: math.div($minTextWidth, $minFontSize) * $maxFontSize;

$base: calc(
  #{$minFontSize}px + (max(min(100vw, #{$maxTextWidth}px), #{$minTextWidth}px) - #{$minTextWidth}px) /
    (#{$maxTextWidth - $minTextWidth}) * (#{$maxFontSize - $minFontSize})
);

.responsive {
  font-size: $base;
  h1,
  .h1 {
    font-size: 2em;
    margin-bottom: 0.8em;
    line-height: 1.1em;
    margin-top: 0.5em;
  }
  h2,
  .h2 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }
  @media print {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0 16px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Georgia", serif;

  line-height: 1.5;
  text-rendering: optimizeLegibility;
  color: #555555;
  background-color: #fdfdfd;
  &.dark-mode {
    color: #cccccc;
    background-color: #333333;
  }
  @media print {
    color: #555555 !important;
    background-color: #fdfdfd !important;
    font-size: 16px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", "serif";
  color: #555555;
  .dark-mode & {
    color: #dddddd;
  }
  @media print {
    color: #555555 !important;
  }
}
div.lead {
  p {
    font-size: 1.1em;
  }
  @media print {
    font-size: 1.1em;
  }
}
p {
  margin-bottom: 1em;
}
#__next {
  max-width: #{$maxTextWidth}px;
  margin-left: auto;
  margin-right: auto;
  @media print {
    max-width: 100%;
  }
}
a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: inherit;
  }
  color: #444444;
  .dark-mode & {
    color: #dddddd;
  }
  &.anchor {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  @media print {
    text-decoration: none;
    &:hover {
      text-decoration: underline !important;
    }
    color: darkblue !important;
    &.anchor {
      color: inherit !important;
    }
  }
}
h2 a {
  color: inherit;
}
h3 a {
  color: inherit;
}
hr {
  display: block;
  height: 4px;
  border: 0;
  border-top: 4px solid #eeeeee;
  .dark-mode & {
    border-top: 4px solid #888888;
  }
  @media print {
    border-top: 4px solid #eeeeee !important;
  }
}
div.pullquote {
  float: right;
  font-size: 1.2em;
  max-width: 40%;
  @media screen and (max-width: 640px) {
    max-width: 60%;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.2em;
    margin-left: 0.5em;
    padding-left: 0.5em;
    margin-bottom: 0;
  }
  line-height: 1.2em;
  padding-left: 0.5em;
  margin-left: 0.5em;
  color: #666666;
  border-left: 1px solid #444444;
  .dark-mode & {
    color: #cccccc;
    border-left: 1px solid #cccccc;
  }
  @media print {
    color: #666666 !important;
    border-left: 1px solid #444444 !important;
  }
}
span.firstword {
  float: left;
  padding-right: 4px;
  font-size: 3em;
  line-height: 0.99;
  margin-right: 4px;
}
span.restword {
  vertical-align: top;
  font-variant: small-caps;
  letter-spacing: 1.5px;
}
.paddings {
  padding-top: calc(68px + 1em);
  @media print {
    padding-top: 0;
  }
}
sup.footnote {
  vertical-align: top;
  font-size: 0.7em;
  span.inner:hover {
    text-decoration: underline;
  }
}
.tooltip-container {
  color: #555555 !important;
  background-color: #fefefe !important;
  .dark-mode & {
    background-color: #333333 !important;
    color: #cccccc !important;
  }
  @media print {
    color: #555555 !important;
    background-color: #fefefe !important;
  }
  font-size: 0.8em;
  max-width: 20em;
}
figure {
  margin-bottom: 1em;
}
figcaption {
  margin-top: 8px;
  color: #444444;
  font-size: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  text-decoration: none;
}
a.inverted-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.sidebarsidebar {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 10 !important;
}
#sidebarcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  padding-top: 96px;
  background-color: #fdfdfd;
  .dark-mode & {
    background-color: #333333;
  }
  @media print {
    background-color: #fdfdfd !important;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h2 {
    font-weight: 400;
    font-size: 1.4em;
  }
}
div.rounded-img {
  img:first-of-type {
    border-radius: 10%;
  }
}
footer {
  border-top: 1px solid #dddddd;
  padding-top: 1em;
  padding-bottom: 1.5em;
  font-size: 1em;
  & > div {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    flex-wrap: wrap;
    a {
      padding-left: 0.5em;
      padding-right: 0.5em;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media print {
    display: none;
  }
}
div#titleContainer {
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  align-items: flex-end;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
div#publishedAt {
  line-height: 1.1em;
  font-size: 0.8em;
  text-align: right;
}
header {
  font-family: "Tahoma, sans-serif";
  background-color: #fdfdfd;
  position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  z-index: 1000000;
  .container {
    display: flex;
    font-family: "Tahoma", sans-serif;
    padding: 10px;
    padding-bottom: 10px;
    background-color: #fdfdfd;
    box-shadow: 0px 3px 8px #dddddd;
    .dark-mode & {
      background-color: #333333;
      box-shadow: 0px 3px 8px #222222;
    }
    @media print {
      background-color: #fdfdfd !important;
      box-shadow: 0px 3px 8px #dddddd !important;
    }
  }
  .box {
    flex: 1;
    display: flex;
  }
  .hamburger {
    flex: 1;
    display: flex;
    div {
      display: none;
      @media screen and (max-width: 960px) {
        display: block;
      }
    }
  }
  .links {
    display: flex;
    @media screen and (max-width: 960px) {
      display: none;
    }
    margin-top: -2em;
    font-size: 1.1em;
    font-family: "Georgia", serif;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 0.5em;
    div {
      margin-right: 0.7em;
    }
  }
  @media print {
    display: none;
  }
}
.technical {
  font-size: 0.8em;
  color: #888888;
}
.grecaptcha-badge {
  visibility: hidden;
}
form.subscribe {
  display: flex;
  width: 100%;
  &.center {
    justify-content: center;
  }
  .email {
    flex: 1;
    font-family: "Monaco", monospace;
    font-size: 0.8em;
    .center & {
      max-width: 40em;
    }
  }
  .submit {
    display: block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 0.9em;
    line-height: 1.4em;
    color: #555555;
    background-color: #fdfdfd;
    border: 1px solid #555555;
    cursor: pointer;
    &:disabled {
      color: #aaaaaa;
      border: 1px solid #aaaaaa;
    }
    .dark-mode & {
      color: #cccccc;
      background-color: #333333;
      border: 1px solid #cccccc;
      &:disabled {
        color: #555555;
        border: 1px solid #555555;
      }
    }
    @media print {
      color: #555555 !important;
      background-color: #fdfdfd !important;
      border: 1px solid #555555 !important;
      &:disabled {
        border: 1px solid #aaaaaa !important;
      }
    }
  }
  svg.success {
    color: green;
    transition: opacity 0.5s;
  }
}
div.subscribe {
  justify-content: center;
  align-items: center;
  transition:
    max-height 0.5s,
    opacity 0.5s;
  overflow: hidden;
  &.center {
    margin-left: auto;
    margin-right: auto;
  }
  .subscribed & {
    display: none;
  }
}
a.anchorTarget {
  display: block;
  visibility: hidden;
  position: relative;
  top: -100px;
}
@media print {
  a.anchorTarget {
    display: block;
    visibility: hidden;
    position: relative;
    top: 0px;
  }
}
blockquote {
  padding-left: 16px;
  margin-left: 16px;
  border-left: 1px solid #555555;
  .dark-mode & {
    border-left: 1px solid #cccccc;
  }
  @media print {
    border-left: 1px solid #555555 !important;
  }
}
div.thanks {
  font-size: 0.9em;
  text-align: right;
}
div.opening {
  margin-top: -8px;
  margin-bottom: 16px;
  padding: 16px;
  font-size: 0.9em;
  background-color: lighten(lightGreen, 10%);
  .dark-mode & {
    background-color: darken(darkGreen, 5%);
  }
}
div.note {
  background-color: #eeeeee;
  .dark-mode & {
    background-color: #444444;
  }
  @media print {
    background-color: #eeeeee !important;
  }
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  p:last-of-type {
    padding-bottom: 16px;
  }
}
@page {
  size: Letter;
  margin: 0.5in;
}
.screenonly {
  display: none;
  @media screen {
    display: block;
  }
}
.printonly {
  display: none;
  @media print {
    display: block;
  }
}
td {
  padding-right: 16px;
}
table {
  border-spacing: 0;
  margin-bottom: 1em;
}
li > p {
  margin-bottom: 0.2em;
}
.ace_editor {
  background-color: #fdfdfd;
  .dark-mode & {
    background-color: #333333;
  }
}
.spinner {
  animation: spin infinite 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
code {
  font-size: 1em;
}
div.chooseDarkMode {
  margin: 0 !important;
  cursor: pointer;
  .choseLight {
    margin: 0;
    display: block;
    .dark-mode & {
      display: none;
    }
  }
  .choseDark {
    margin: 0;
    display: none;
    .dark-mode & {
      display: block;
    }
  }
  span {
    &:hover {
      text-decoration: underline;
    }
  }
}
div.loginButton {
  a,
  span {
    cursor: pointer;
  }
}
#thanks {
  font-size: calc(0.8 * $base);
  border-top: 4px solid #eeeeee;
  .dark-mode & {
    border-top: 4px solid #888888;
  }
  margin-top: 2rem;
  padding: 1rem 2rem;
}
